*.iml
.gradle
.project
.idea/
.nb-gradle/
projectFilesBackup/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
release/
.externalNativeBuild
google-services.json
/app/.classpath
rsa*
*eclipse*
/raw/service.json
